*{
    margin: 0;
    padding: 0;
}
.box1
{
    width: 390px;
    height: 270px;
    background-color: lightblue;
    border: 3px solid black;
    box-shadow: -20px 15px 10px grey;
    padding: 12px;
    /* margin: 23px; */
    display: flex;
    align-items: center;
    margin-left: auto;
}
.a{
    color: red;
    border: 1px solid red;
    border-radius: 6px;
    margin-right: 20px;
    align-items: center;
    /* margin-left: 440px; */
}
.b{
    color: green;
    border: 1px solid green;
    border-radius: 6px;
}
.box2{
    background-color: lightblue;
    border: 1px solid green;
    border-radius: 23px;
    align-content: center;
    margin-left: 160px;
}
.parent{
    /* box-sizing: border-box; */
    padding: 43px;
    margin: 34px;
    margin: auto;
    width: 400px;
    border: 7px solid red;
    border-radius: 40px;
    box-shadow: 10px 10px 5px grey;
    transform: translate(50px, 50px);
}